@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}


.nav-links{
    display: flex;
    column-gap: 20px;
    
}
.nav-links a{
    text-decoration: none;
    color: #1D232C;
}

.nav-links a:hover{
    text-decoration: underline;
    color: #1D232C;
}

.nav-bar-toggle{
    cursor: pointer;
    display: none;
}

.side-nav-bar{
    background-color: #1D232C;
    width: 50%;
    height: 100%;
    position: fixed;
    top: 0;
    left: -60%;
    transition: 0.5s;
    padding: 20px;
}

.side-nav-bar p{
    color: white;
    cursor: pointer;
}

.side-nav-link a{
    color: white;
    text-decoration: none;
}
.side-nav-link a:hover{
    text-decoration: underline;
}
.side-nav-link{
    margin-bottom: 30px;
}

.header{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 50px;
}
.shop-btn{
    background-color: #1D232C;
    color: white;
    padding: 10px 20px;
    margin-top: 10px ;
    cursor: pointer;
}
.shop-btn:hover{
    box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.5),-5px -5px 10px white;
}
.service{
    padding: 20px;
}
.service-container1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.service-container2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.service-container2 div{
    background-color: #F2F4F7;
    border-radius: 5px;
    padding: 10px;
}
.new-arrival{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.new-arrival-container{
    position: relative;
    flex-basis: 20%;
    opacity: 0.9;
}
.new-arrival-container:hover{
    opacity: 1;
}
.new-arrival button{
    padding: 5% 10%;
    position: absolute;
    top: 50%;
    left: 16%;
    border-radius: 10px;
    border: none;
    opacity: 0.5;
}
.new-arrival button:hover{
    opacity: 1;
}

.news{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.news input{
    padding: 12px;
    width: 80vw;
    border: solid black 3px;
    margin-bottom: 10px;
    outline: none;
}

.news button{
    background-color: #1D232C;
    color: #F2F4F7;
    margin-top: 10px;
    padding: 12px;
    border-radius: 10px;
    cursor: pointer;
}
.news button:hover{
    box-shadow: 2px 2px 5px rgb(0, 0, 0, 0.3);
}
.news button:active{
    background-color: #424954;
}
.footer{
    background-color: #1D232C;
    color: #F2F4F7;
    font-weight: bold;
    padding: 15px;
    margin: 5px;
}

.product-section{
    margin-top: 20px;
}
.product-search{
    width: 80%;
    border: solid #1D232C;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: auto;
}

.product-search input{
    border: none;
    background-color: transparent;  
    width: 100%; 
    margin-left: 15px;
}
.product-search input:focus{
 outline: none;
}
.products{
    padding: 20px;
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product-box{
    text-align: center;
    flex-basis: 20%;
}
.product-box img{
    border-radius: 10px;
}

.outerblock{
    background-color: #1D232C;
    color: white;
    width: 50%;
    margin: auto;
    height: 600px;
    border-radius: 20px;
}

        /* .contact{
    padding: 20px;
    display: flex;
    flex-direction: column;

}

        .contact input{
    height: 30px;
    border-radius: 12px;
} */
.contact{
    /* display: flex;
    flex-direction: column;
    flex-wrap: wrap; */
    padding: 30px;
    margin: 20px;
}
.name{
    font-size: 15px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.name input{
    width: auto;
    height: 50px;
    border-radius: 10px;
    outline: none;
    padding: 5px;
    font-size: 1rem;
}

.mail{
    display: flex;
    flex-direction: column;
    font-size: 15px;
    margin-top: 20px;
}
.mail input{
    width: auto;
    height: 50px;
    border-radius: 10px;
    outline: none;
    text-align: left;
    padding: 5px;
    font-size: 1rem;
}

.message{
    display: flex;
    flex-direction: column;
    font-size: 15px;
    margin-top: 20px;
}
.message input {
    width: auto;
    min-height: 100px;
    outline: none;
    text-align: start;
    vertical-align: top; 
    padding: 5px;
    font-size: 1rem;
    border-radius: 10px;
    word-wrap: break-word;
}
.container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 40px; /* Optional: Set container height to 100% of the viewport height */
}
.submit{
    border-radius: 12px;
    border: 1px solid #1D232C;
    color: white;
    background-color: #1D232C;
    padding: 10px 20px;
    margin:auto;
}

 

@media screen and (max-width:400px){
    .nav-bar-toggle{
        display: block;
    }
    .nav-links{
        display: none;
    }
    .header-img{
        display: none;
    }
    .service-container1{
        display: none;
    }
    .service-container2{
        flex-direction: column;
    }
}
